.footer{
	padding: 60px 0;
	border-top: 2px solid $bb-color;
	background-color: $fav-dsgn-color;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: hidden;

	&-1{
		.logo{
			// text-align: center;
			font-size: 30px;
			font-weight: 700;
			padding-bottom: 25px;		
		}

		p{
			cursor: pointer;
			font-size: 1rem;
			margin: 10px 0;
			padding: 2px 0;
			color: rgb(255,137,2);
		}

		a{
			transition: all 0.3s ease-in-out;
			&:hover{
				color: $hover-color;
				text-transform: uppercase;
			}
		}
	}

	&-2{
		text-align: center;
		cursor: pointer;

		h2{
			font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			font-size: $fz-25;
			em{
				font-size: $fz-30;
			}
		}

		img{
			width: 150px;
			margin-bottom:0;
			cursor: pointer;
			transition: transform 0.3s ease 0s;
			overflow: hidden;
			@media(any-hover:hover){
				&:hover{
					transform: scale(1.2);
				}
			}
		}
	}

	@media(max-width:650px){
		display: grid;
		justify-content: center;
		align-items: center;
		row-gap: 50px;

		&-1{			
			.logo{
				text-align: center;
			}
				p, a {
					display: grid;
					justify-content: center;
					align-items: center;
				}
		}
	}
}